:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
}
.page {
  background-color: #f5f5f5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-up {
  color: #000000;
}
.logo-down {
  color: #ffffff;
}
/* site nav */
.nav-link,
.header-cont {
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
/* contacts */
.header-cont {
  color: var(--primary-text-color);
}
/* hero section */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  font-family: Roboto, sans-serif;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/* Features */
.section-title {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
}
.text-section {
  font-size: 14px;
  line-height: 1.71;
}
.title-page {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/*  Our team  */
.our-team {
  background-color: #f5f4fa;
}
.name {
  color: var(--secondary-text-color);
  background-color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.position {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-size: 16px;
  line-height: 1.19;
}
/* footer */
.cellar {
  background-color: #2f303a;
}
.direction {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer-cont {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
/* portfolio */
.filter-list {
  font-family: Roboto, sans-serif;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.galery-title {
  color: var(--secondary-text-color);
  background-color: var(--primary-background-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.galery-text {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
/* цвет фона вторичный #2F303A */
/* цвет wight основной #FFFFFF */
